[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "oglwrap/oglwrap"]
	path = oglwrap/oglwrap
	url = https://github.com/Tomius/oglwrap.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
